
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body{
    background-color: #FFF;
}

/* --- nav- section----- */
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 60px;
    font-size: 25px;
}

.icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  

}

.shopping, .search{
    width: 25px;
    height: 25px;
    margin-right: 40px; 
    padding: 10px; 
    cursor: pointer;
    
}
.shopping{
    margin-right: 50px;
    
}








nav ul{
    display: flex;
    justify-content: space-between;
    
}


nav li{
    list-style-type: none;
    
}

nav a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-right: 40px;
    padding: 10px;
    
}
 
